body {
    background-color : #000000;
    color : white;
    text-align : center;
    font-size : 20px;
}

.container div {
    padding : 40px 20px;
    border-bottom : 1px solid #ffbf00;
    border-top : 1px solid #ffbf00;

    transition : all 200ms ease-in-out;
}

.container div:hover {
    background : radial-gradient(#ffffff 1%, #000658 40%, #1f002b 90%);
    border-width : 3px;
}

img {
    padding-bottom : 20px;
}

h1 {
    margin-top : 60px;
    padding-bottom : 50px;
    border-bottom : 1px solid #ffbf00;
}

h2 {
    margin-bottom : 40px;
}

.content {
    padding : 40px 0;
}

li {
    padding-bottom : 5px;
}

ul {
    list-style-type : none;
}

a {
    color : white;
    text-decoration : none;

    transition : all 300ms ease-in-out;
}

a:hover {
    color : #ffbf00;
}

